@media screen and (max-width:991px){
  /** aside **/
  aside.menu {
    &{
      width:0px;
      height:0px;
      position:fixed;
      top:0px;
      z-index:1000;
    }
  }
  aside.menu.right>.contents{
    border-right: 1px solid var(--color-border);
    right: -100%;
  }
  aside.menu.right.active>.contents{
    right: 0px;
  }
  aside.menu.left>.contents{
    border-left: 1px solid var(--color-border);
    left: -100%;
  }
  aside.menu.left.active>.contents{
    left: 0px;
  }
  aside.menu>.contents{
    position: fixed;
    width: 400px;
    height: 100vh;
    top: 0px;
    background: var(--color-background);
    color: var(--color-text);
    z-index: 999;
    transition: left 0.25s linear 0s, right 0.25s linear 0s;
    overflow-y: auto;
  }
  aside.menu .backdrop {
    position: fixed;
    z-index: 998;
    width: 0vw;
    height: 0vh;
    background-color: black;
    top: 0px;
    left: 0px;
    opacity: 0.25;
  }
  aside.menu.active .backdrop {
    position: fixed;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    background-color: black;
    top: 0px;
    left: 0px;
    opacity: 0.25;
  }
  aside.menu .panel .js_control {
      display: flex;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
  }

  aside.menu .panel .js_control .context-user {
      height: 40px;
      line-height: 40px;
      flex: 1 1 auto;
      text-align: center;
  }
  aside.menu .sub_panel {
      background-color: #00000026;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 12px;
      padding-right: 12px;
      display: flex;
  }

  aside.menu .sub_panel .usage_card {
      flex: 1 0 49%;
      padding: 12px;
      border-radius: 6px;
      border: 1px solid var(--color-background);
      background: var(--color-background);
      margin-right: 2px;
      margin-left: 2px;
  }

  aside.menu .sub_panel .usage_card .legend{
    font-weight:bold;
  }
  aside.menu .panel .js_control a.top-bar-logo {
    margin-right: auto;
    margin-left: 12px;
    display: flex;
  }

  aside.menu .panel .js_control a.top-bar-logo img {
      margin-top: auto;
      margin-bottom: auto;
      display: inline-block;
  }
  aside.menu .mobile_menu, aside.menu .sub_menu{
      display:block;
      margin-top:16px;
      margin-bottom:16px;
      list-style: none;
      padding:0px 12px;
  }
  aside.menu .mobile_menu .nav-item{
      display:flex;
      min-height:40px;
      font-size: 1rem;
      width:100%;
      flex-wrap: wrap;
      margin-top: 6px;
      margin-bottom: 6px;
  }
  aside.menu .mobile_menu .nav-item-separator{
      height:20px;
      display:flex;
      flex-direction:column;
  }
  aside.menu .mobile_menu .nav-item-separator:before{
      content:'';
      width:100%;
      height:2px;
      background-color:var(--color-text);
      margin-top:auto;
      margin-bottom:auto;
  }

  aside.menu .mobile_menu .nav-item a.nav-link {
      display: flex;
      font-size: 1rem;
      line-height: 40px;
      flex: 1 0 auto;
  }
  aside.menu .mobile_menu .nav-link .box-icon {
      width: 40px;
      height: 40px;
      display: inline-block;
      text-align: center;
  }
  aside.menu .mobile_menu .nav-link .info-legend {
      height: 40px;
      display: flex;
      flex-direction: column;
  }

  aside.menu .mobile_menu .nav-link .info-legend p.legend {
      line-height: 26px;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 18px;
  }

  aside.menu .mobile_menu .nav-link .info-legend p.info {
    line-height: 14px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 12px;
}

aside.menu .mobile_menu .nav-link .box-icon i {
    margin-left: 0px !important;
}
  aside.menu .mobile_menu .nav-item .opener {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border: 1px solid var(--alert-border-color);
  }

  aside.menu .mobile_menu .nav-item .opener .box-icon {
    transform: rotate(0deg);
    transition: transform 0.25s linear;
  }
  aside.menu .mobile_menu .nav-item .opener .box-icon.active {
      transform: rotate(90deg);
  }
  aside.menu .mobile_menu .nav-item ul.sub-menu {
      background-color: #00000026;
      width: 100%;
      padding: 0px;
      height: 0px;
      overflow: hidden;
  }

  aside.menu .mobile_menu .nav-item ul.sub-menu.active {
      padding: 12px;
      height:auto;
  }
  /** end aside **/
  header .l-center.top-bar-inner {
      max-width: max-content;
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
      display: block;
      min-width: 100%;
  }
  .top-bar-left {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 12px;
    padding-left: 12px;
  }
  .top-bar-left nav.top-bar-nav {
    display:none;
  }
  .top-bar-left a.menu-toggle-square,
  .top-bar-left div.menu-toggle-square,
  .menu-toggle-square{
      width: 40px;
      height: 40px;
      display: inline-block;
      text-align: center;
    &>i{
      line-height:40px;
      font-size: 1.1rem;
    }
  }
  nav.top-bar-nav, nav.top-bar-nav .top-bar-nav-list {
    min-width: 100%;
    max-width: 100%;
  }
  .top-bar-left .top-bar-logo{
    margin-right:auto;
    margin-left: 16px;
    display:flex;
  }
  .top-bar-left .top-bar-logo img{
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
  }
  .top-bar-right .top-bar-nav .top-bar-nav-list .top-bar-nav-item {
      margin-left: auto;
      width: 40px;
      flex: 0 0 40px;
  }

  .top-bar-right .top-bar-nav .top-bar-nav-list .top-bar-nav-item .notification-container {
      right: 33px;
      left: initial !important;
  }
  /********************************************************/
  .mobile-hide{
    display:none !important;
  }
}
@media screen and (min-width:992px){
  .desktop-hide{
    display:none !important;
  }
}
