<aside class="menu left desktop-hide">
  <div class="backdrop" data-action="close-left-menu"></div>
  <div class="contents">
    <div class="panel">
      <div class="js_control">

          <a href="<?=htmlspecialchars($home_url)?>" class="top-bar-logo" title="<?=_('Hestia Control Panel');?>">
            <img src="/images/logo-header.svg" alt="<?=_('Hestia Control Panel');?>" width="54" height="29">
          </a>
          <span class="menu-toggle-square" data-action="menu-left-close"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <ul class="mobile_menu">
      <!-- Records tab -->
      <li class="nav-item">
        <a class="nav-link <?php if(in_array($TAB, ['WEB', 'DNS', 'MAIL', 'DB', 'BACKUP', 'CRON', 'PACKAGE', 'USER', 'LOG'])) echo 'active' ?>" href="<?=htmlspecialchars($home_url)?>">
          <i class="fas fa-list-check"></i>
          <span class="nav-link-label"><?=_('Records');?></span>
        </a>
      </li>

      <!-- File Manager tab -->
      <?php if ((isset($_SESSION['FILE_MANAGER'])) && (!empty($_SESSION['FILE_MANAGER'])) && ($_SESSION['FILE_MANAGER'] == "true")) {?>
        <?php if (($_SESSION['userContext'] === 'admin') && (isset($_SESSION['look']) && ($_SESSION['look'] === 'admin') && ($_SESSION['POLICY_SYSTEM_PROTECTED_ADMIN'] == 'yes'))) {?>
          <!-- Hide file manager when impersonating admin-->
        <?php } else { ?>
          <li class="nav-item">
            <a class="nav-link <?php if($TAB == 'FM') echo 'active' ?>" href="/fm/">
              <i class="fas fa-folder-open"></i>
              <span class="nav-link-label"><?=_('Files');?></span>
            </a>
          </li>
        <?php } ?>
      <?php } ?>

      <!-- Statistics tab-->
      <li class="nav-item">
        <a class="nav-link <?php if($TAB == 'STATS') echo 'active' ?>" href="/list/stats/">
          <i class="fas fa-chart-line"></i>
          <span class="nav-link-label"><?=_('Statistics');?></span>
        </a>
      </li>
      <li class="nav-item-separator"></li>
      <!-- content from main menu list-->
      <!-- Users tab -->
      <?php if (($_SESSION['userContext'] == 'admin') && (empty($_SESSION['look']))) {?>
        <?php
          if (($_SESSION['user'] !== 'admin') && ($_SESSION['POLICY_SYSTEM_HIDE_ADMIN'] === 'yes')) {
            $user_count = $panel[$user]['U_USERS'] - 1;
          } else {
            $user_count = $panel[$user]['U_USERS'];
          }
        ?>
        <li class="main-menu-item">
          <a class="main-menu-item-link <?php if(in_array($TAB, ['USER', 'LOG'])) echo 'active' ?>" href="/list/user/" title="<?=_('Users');?>: <?=$user_count;?>&#13;<?=_('Suspended');?>: <?=$panel[$user]['SUSPENDED_USERS']?>">
            <p class="main-menu-item-label"><?=_('USER');?><i class="fas fa-users u-ml10"></i></p>
            <ul class="main-menu-stats">
              <li>
                <?=_('users');?>: <span><?=htmlspecialchars($user_count);?></span>
              </li>
              <li>
                <?=_('spnd');?>: <span><?=$panel[$user]['SUSPENDED_USERS']?></span>
              </li>
            </ul>
          </a>
        </li>
      <?php } ?>

      <!-- Web tab -->
      <?php if ((isset($_SESSION['WEB_SYSTEM'])) && (!empty($_SESSION['WEB_SYSTEM']))) {?>
        <?php if($panel[$user]['WEB_DOMAINS'] != "0") { ?>
          <li class="main-menu-item">
            <a class="main-menu-item-link <?php if($TAB == 'WEB') echo 'active' ?>" href="/list/web/" title="<?=_('Domains');?>: <?=$panel[$user]['U_WEB_DOMAINS']?>&#13;<?=_('Aliases');?>: <?=$panel[$user]['U_WEB_ALIASES']?>&#13;<?=_('Limit')?>: <?=$panel[$user]['WEB_DOMAINS']=='unlimited' ? "∞" : $panel[$user]['WEB_DOMAINS']?>&#13;<?=_('Suspended');?>: <?=$panel[$user]['SUSPENDED_WEB']?>">
              <p class="main-menu-item-label"><?=_('WEB');?><i class="fas fa-earth-americas u-ml10"></i></p>
              <ul class="main-menu-stats">
                <li>
                  <?=_('domains');?>: <span><?=$panel[$user]['U_WEB_DOMAINS']?> / <?=$panel[$user]['WEB_DOMAINS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['WEB_DOMAINS']?> (<?=$panel[$user]['SUSPENDED_WEB']?>)</span>
                </li>
                <li>
                  <?=_('aliases');?>: <span><?=$panel[$user]['U_WEB_ALIASES']?> / <?=$panel[$user]['WEB_ALIASES']=='unlimited' || $panel[$user]['WEB_DOMAINS']=='unlimited'  ? "<b>∞</b>" : $panel[$user]['WEB_ALIASES'] * $panel[$user]['WEB_DOMAINS']?></span>
                </li>
              </ul>
            </a>
          </li>
        <?php } ?>
      <?php } ?>

      <!-- DNS tab -->
      <?php if ((isset($_SESSION['DNS_SYSTEM'])) && (!empty($_SESSION['DNS_SYSTEM']))) {?>
        <?php if($panel[$user]['DNS_DOMAINS'] != "0") { ?>
          <li class="main-menu-item">
            <a class="main-menu-item-link <?php if($TAB == 'DNS') echo 'active' ?>" href="/list/dns/" title="<?=_('Domains');?>: <?=$panel[$user]['U_DNS_DOMAINS']?>&#13;<?=_('Limit')?>: <?=$panel[$user]['DNS_DOMAINS']=='unlimited' ? "∞" : $panel[$user]['DNS_DOMAINS']?>&#13;<?=_('Suspended');?>: <?=$panel[$user]['SUSPENDED_DNS']?>">
              <p class="main-menu-item-label"><?=_('DNS');?><i class="fas fa-book-atlas u-ml10"></i></p>
              <ul class="main-menu-stats">
                <li>
                  <?=_('zones');?>: <span><?=$panel[$user]['U_DNS_DOMAINS']?> / <?=$panel[$user]['DNS_DOMAINS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['DNS_DOMAINS']?> (<?=$panel[$user]['SUSPENDED_DNS']?>)</span>
                </li>
                <li>
                  <?=_('records');?>: <span><?=$panel[$user]['U_DNS_RECORDS']?> / <?=$panel[$user]['DNS_RECORDS']=='unlimited' || $panel[$user]['DNS_DOMAINS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['DNS_RECORDS'] * $panel[$user]['DNS_DOMAINS']?></span>
                </li>
              </ul>
            </a>
          </li>
        <?php } ?>
      <?php } ?>

      <!-- Mail tab -->
      <?php if ((isset($_SESSION['MAIL_SYSTEM'])) && (!empty($_SESSION['MAIL_SYSTEM']))) {?>
        <?php if($panel[$user]['MAIL_DOMAINS'] != "0") { ?>
          <li class="main-menu-item">
            <a class="main-menu-item-link <?php if($TAB == 'MAIL') echo 'active' ?>" href="/list/mail/" title="<?=_('Domains');?>: <?=$panel[$user]['U_MAIL_DOMAINS']?>&#13;<?=_('Limit')?>: <?=$panel[$user]['MAIL_DOMAINS']=='unlimited' ? "∞" : $panel[$user]['MAIL_DOMAINS']?>&#13;<?=_('Suspended');?>: <?=$panel[$user]['SUSPENDED_MAIL']?>">
              <p class="main-menu-item-label"><?=_('MAIL');?><i class="fas fa-envelopes-bulk u-ml10"></i></p>
              <ul class="main-menu-stats">
                <li>
                  <?=_('domains');?>: <span><?=$panel[$user]['U_MAIL_DOMAINS']?> / <?=$panel[$user]['MAIL_DOMAINS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['MAIL_DOMAINS']?> (<?=$panel[$user]['SUSPENDED_MAIL']?>)</span>
                </li>
                <li>
                  <?=_('accounts');?>: <span><?=$panel[$user]['U_MAIL_ACCOUNTS']?> / <?=$panel[$user]['MAIL_ACCOUNTS']=='unlimited' || $panel[$user]['MAIL_DOMAINS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['MAIL_ACCOUNTS'] * $panel[$user]['MAIL_DOMAINS']?></span>
                </li>
              </ul>
            </a>
          </li>
        <?php } ?>
      <?php } ?>

      <!-- Databases tab -->
      <?php if ((isset($_SESSION['DB_SYSTEM'])) && (!empty($_SESSION['DB_SYSTEM']))) {?>
        <?php if($panel[$user]['DATABASES'] != "0") { ?>
          <li class="main-menu-item">
            <a class="main-menu-item-link <?php if($TAB == 'DB') echo 'active' ?>" href="/list/db/" title="<?=_('Databases');?>: <?=$panel[$user]['U_DATABASES']?>&#13;<?=_('Limit')?>: <?=$panel[$user]['DATABASES']=='unlimited' ? "∞" : $panel[$user]['DATABASES']?>&#13;<?=_('Suspended');?>: <?=$panel[$user]['SUSPENDED_DB']?>">
              <p class="main-menu-item-label"><?=_('DB');?><i class="fas fa-database u-ml10"></i></p>
              <ul class="main-menu-stats">
                <li>
                  <?=_('databases');?>: <span><?=$panel[$user]['U_DATABASES']?> / <?=$panel[$user]['DATABASES']=='unlimited' ? "<b>∞</b>" : $panel[$user]['DATABASES']?> (<?=$panel[$user]['SUSPENDED_DB']?>)</span>
                </li>
              </ul>
            </a>
          </li>
        <?php } ?>
      <?php } ?>

      <!-- Cron tab -->
      <?php if ((isset($_SESSION['CRON_SYSTEM'])) && (!empty($_SESSION['CRON_SYSTEM']))) {?>
        <?php if($panel[$user]['CRON_JOBS'] != "0") { ?>
          <li class="main-menu-item">
            <a class="main-menu-item-link <?php if($TAB == 'CRON') echo 'active' ?>" href="/list/cron/" title="<?=_('Jobs');?>: <?=$panel[$user]['U_WEB_DOMAINS']?>&#13;<?=_('Limit')?>: <?=$panel[$user]['CRON_JOBS']=='unlimited' ? "∞" : $panel[$user]['CRON_JOBS']?>&#13;<?=_('Suspended');?>: <?=$panel[$user]['SUSPENDED_CRON']?>">
              <p class="main-menu-item-label"><?=_('CRON');?><i class="fas fa-clock u-ml10"></i></p>
              <ul class="main-menu-stats">
                <li>
                  <?=_('jobs');?>: <span><?=$panel[$user]['U_CRON_JOBS']?> / <?=$panel[$user]['CRON_JOBS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['CRON_JOBS']?> (<?=$panel[$user]['SUSPENDED_CRON']?>)</span>
                </li>
              </ul>
            </a>
          </li>
        <?php } ?>
      <?php } ?>

      <!-- Backups tab -->
      <?php if ((isset($_SESSION['BACKUP_SYSTEM'])) && (!empty($_SESSION['BACKUP_SYSTEM']))) {?>
        <?php if($panel[$user]['BACKUPS'] != "0") { ?>
          <li class="main-menu-item">
            <a class="main-menu-item-link <?php if($TAB == 'BACKUP') echo 'active' ?>" href="/list/backup/" title="<?=_('Backups');?>: <?=$panel[$user]['U_BACKUPS']?>&#13;<?=_('Limit')?>: <?=$panel[$user]['BACKUPS']=='unlimited' ? "∞" : $panel[$user]['BACKUPS']?>">
              <p class="main-menu-item-label"><?=_('BACKUP');?><i class="fas fa-file-zipper u-ml10"></i></p>
              <ul class="main-menu-stats">
                <li>
                  <?=_('backups');?>: <span><?=$panel[$user]['U_BACKUPS']?> / <?=$panel[$user]['BACKUPS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['BACKUPS']?></span>
                </li>
              </ul>
            </a>
          </li>
        <?php } ?>
      <?php } ?>
      <!-- end content -->
    </ul>
  </div>
</aside>
